<div class="grid">
  <h1 style="padding-bottom: 1%;">DTC 475 Project 2: Algorithmic Bias</h1>
  <p>Hello! This is my second project for DTC 475, Digital Diversity. In this project,
     I delve into algorithmic bias, and how it affects the Black Lives Matter movement.
  </p>
  
  <h2 class="clickabletext" (click)="reveal('hiddenDecolonization')" >What is Algorithmic Bias?</h2>
  <div id="hiddenDecolonization" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
    <p>
      Algorithmic Bias is a large and complex term, that can have multiple meanings. <strong> Algorithmic Bias is:</strong>
    </p>
    <ul style="margin-bottom: 7%;">
      <li>The processes and methods that an algortihm, typically a computer algortihm, becomes biased.</li>
      <li>The bias an algorithm can harbor against various peoples, such as minority groups.</li>
      <li>The impacts that biased algorithms impact society and the minority groups that have been biased against.</li>
    </ul>

    <p style="margin-left: 20%; margin-right: 20%;">
      For example, in the article Algorithms Of Oppression, the author searched the term "black girls" on google (1). They were hoping to find things about black women's achievements
      or advancements. However, they actually "retrieved a Google Search results page filled with porn" instead (1). I later searched the same thing on a different search 
      engine, and had extremely similar results, even after years. Unfortunately, algorithmic bias solidifies stereotypes about minorities, and continues to do so to this day.
    </p>
  </div>

  <div style="padding-bottom: 10%; opacity: 0%; transition-duration: 5s; transition-property: all;" id="part2">
    <h2 style="margin: 0; display: inline;" class="clickabletext" (click)="reveal('hiddenICT')">How does Algorithmic Bias shape Black Lives Matter Movements Across the United States?</h2>
    <div id="hiddenICT" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
      <p>
        In 2020, the deaths of multiple African Americans from police brutality led to widespread protesting for more police oversight and less police funding. Many people
        across the United States were tired of seeing and hearing about police brutality, and decided to join in the fight against institutional racism as a whole. However,
        much of the mainstream media had mixed responses to the protesting. Some media outlets shaped the protests into riots, where people were violent and attacking police
        officers, whereas other outlets states that the protests were almost entirely peaceful. 
      </p>
      <p>In the end, the differing beliefs of these media outlets shaped people's opinions,
        leading to two entirely contrasting realities.</p>
      <p>Algorithmic Bias was a major part of the Black Lives Matter movement. Not only did Algorithmic Bias help exaserbate current issues faced by African Americans, it also 
        increased the political polarization of the United States, making the fight for equality increasingly difficult. For example, many police use "predictive policing"
        to determine patrol routes (2,3). "communities of color are often over-policed, meaning there's way more data" for criminal activity, leading to an increase in algorithms
        choosing these communities for patrol routes (3). This leads to even more over-policing, leading to more arrests and ultimately more police brutality, the catalyst for 
        the Black Lives Matter Movement. Additionally, predictive policing leadds to "some judges using machine-generated risk scores to determine how long an individual is going
        to spend in prison" (2). This often leads to discrimination against minorities, due to over-policing arrests, further worsening the problems that minorities, especially
        African Americans, face.
      </p>
      <p>Additionally, Algorithmic Bias also continues to worsen political polarization, leading to more opposition for Black Lives Matter. 
        In a peer-reviewed study, it was found that "the introduction of algorithmic bias does increse the distance between opinions" (4).
        Algoritmic bias "encourages interaction among like-minded individuals", leading people who are on the fence about BLM issues to grow 
        increasingly against the movement (4). This has led to an increasingly aggressive opposition to BLM, making the fight for equal rights
        even more important.
      </p>

    </div>
  </div>
  
  <div style="opacity: 0%; transition-duration: 5s; transition-property: all;" id="part3">
    <h2 style="margin: 0; display: inline;" class="clickabletext" (click)="reveal('hiddenContext')">What is the Signifigance of Algorithmic Bias for Black Lives Matter?</h2>

    <div id="hiddenContext" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
            <p style="margin-left: 20%; margin-right: 20%;">
              Algorithmic bias, in a way, contributed to the high police brutality that was the catalyst for the Black Lives Matter protests across the country. Policing 
              algorithms were biased against minorities, and led to more over-policing and more incarcerations of minorities.
            </p>
            <p style="margin-left: 20%; margin-right: 20%;">
              Additionally, algorithmic bias has worsened the political discourse in America, leading to worsened polarization. With algorithmic bias pushing opponents of 
              the Black Lives Matter movement further and further away, racial equality is growing more and more difficult to achieve.
            </p>
    </div>
  </div>
  
  <p>Citations:</p>
  <ol style="margin-bottom: 10%; margin-left: 20%; margin-right: 20%;">
    <li>Noble, Safiya Umoja. Algorithms of Oppression: How Search Engines Reinforce Racism. New York University Press, 2018. </li>
    <li>Buolamwini, Joy. “How I'm Fighting Bias in Algorithms.” Joy Buolamwini: How I'm Fighting Bias in Algorithms | TED Talk, https://www.ted.com/talks/joy_buolamwini_how_i_m_fighting_bias_in_algorithms/transcript?subtitle=en. </li>
    <li>Gershgorn, Dave. “Biased Algorithms Are a Racial Justice Issue.” Medium, Momentum, 19 Oct. 2020, https://momentum.medium.com/biased-algorithms-are-a-racial-justice-issue-7970e892260d. </li>
    <li>Sîrbu, Alina, et al. “Algorithmic Bias Amplifies Opinion Fragmentation and Polarization: A Bounded Confidence Model.” PLOS ONE, Public Library of Science, https://journals.plos.org/plosone/article?id=10.1371%2Fjournal.pone.0213246#sec003.</li>
  </ol>


</div>
