.grid {
    display: grid;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(189, 223, 228);
}
.definitionGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
}
.definitionElementOne {
    grid-column: 1;
}
.definitionElementTwo {
    grid-column: 2;
}
.clickabletext {
    color:rgb(189, 223, 228);
    text-decoration: underline;
    transition-duration: .4s;
    transition-property: all;
    margin-left: 30%;
    margin-right: 30%;
}
.clickabletext:hover {
    color:rgb(213, 246, 252);
    font-size: 165%;
    transition-duration: .4s;
    transition-property: all;
}

p {
    padding-bottom: 4%;
    margin-left: 20%; 
    margin-right: 20%;
}
h1 {
    font-size: 250%;
}
li {
    font-size: 100%;
    margin-bottom: 3%;
    transition-duration: .4s;
    transition-property: all;
}
li:hover {
    font-size: 105%;
    margin-bottom: 3%;
    transition-duration: .4s;
    transition-property: all;
}