.grid {
    display: grid;
    text-align: center;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:beige;
}
.definitionGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
}
.definitionElementOne {
    grid-column: 1;
}
.definitionElementTwo {
    grid-column: 2;
}
.clickabletext {
    color:beige;
    text-decoration: underline;
    transition-duration: .4s;
    transition-property: all;
    margin-left: 30%;
    margin-right: 30%;
}
.clickabletext:hover {
    color:bisque;
    font-size: 165%;
    transition-duration: .4s;
    transition-property: all;
}

p {
    padding-bottom: 4%;
}
h1 {
    font-size: 250%;
}

