<div class="grid">
  <h1 style="padding-bottom: 1%;">DTC 475 Project 1: Digital Decolonization</h1>
  <p>Hello! This is my first project for DTC 475, Digital Diversity. In this project,
     I discuss the fundamentals of Digital Decolonization, namely defining decolonization and how it relates to technology. Click on the links to learn more.
  </p>
  
  <div class="definitionGrid">

    <div class="definitionElementOne">
      <h2 class="clickabletext" (click)="reveal('hiddenDecolonization')" >What is Decolonization?</h2>
      <div id="hiddenDecolonization" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
        <p>
          Decolonization is a broad topic, and can be essentially defined as the process of removing Colonial ideology. However, this can take many meanings:
        </p>
        <p>
          Decolonization, in a literal sense, is the process of a nation freeing their colonies. For example, the United Kingdom went through a decade-long process
          of decolonization where they freed most of their possessions in Africa, Asia, and South America.
        </p>
        <p>
          However, in this context, decolonization takes a different meaning. Decolonization is the process of removing colonial philosophy and bias from both legislation
          and from people's mindsets. Decolonization is about removing the inherent stereotypes people hold about Indigenous Americans, removing legislation that harms
          Indigenous Americans, and improving quality of life for Indigenous Americans who have suffered under different policies.
        </p>

      </div>
    </div>

    <div class="definitionElementTwo" style="opacity: 0%; transition-duration: 5s; transition-property: all;" id="part1">
      <h2 class="clickabletext" (click)="reveal('hiddenSovereignty')" >What is Sovereignty?</h2>
      <div id="hiddenSovereignty" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
        <p>Sovereignty is the independence and freedom of a person, group, culture, or nation.</p>
        <p>In this case, sovereignty relates to the freedoms of Indigenous peoples.</p>

      </div>
    </div>
  </div>

  <div style="padding-bottom: 10%; opacity: 0%; transition-duration: 5s; transition-property: all;" id="part2">
    <h2 style="margin: 0; display: inline;">However, how do Decolonization and Sovereignty relate to </h2>
    <h2 style="margin: 0; display: inline;" class="clickabletext" (click)="reveal('hiddenICT')">Information and Communications Technology?</h2>
    <div id="hiddenICT" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
      <p style="margin-top: 2.5%; margin-bottom: 0%; padding-bottom: 2%;">
        ICT is very important for the topic of Indigenous decolonization and sovereignty. Over time, the advancements of ICT have both helped and hindered
        Native American efforts to decolonize.
      </p>
      
      <div class="definitionGrid" style="padding-bottom: 0%; ">

        <div class="definitionElementOne" style="margin-right: 5%;">

            <p>
              In terms of benefits, the changes in technology have helped Native Americans with publicity. The ability to spead the word on various injustices and make
              Native American issues more prevalent on social media have been significant in the fight for more sovereignty and freedom. For example, during the Dakota Access
              Pipeline protests, "1.6 million people had "checked in" via Facebook" (2) to the reservation to support the protests. The protests were promoted over facebook, 
              and this outreach helped the news reach a much wider audience.
            </p>
         
        </div>
    
        <div class="definitionElementTwo" style="margin-left: 5%;">
          <p>
            However, developing technology has also been problematic for Native Americans. Native American reservations have been left behind by advancing technology, 
            and things like internet and modern computers are hard to access for many Native Americans. This leads to a lot of young Native Americans falling behind on
            education, as most modern topics require some form of technology. This issue was exasperated further with COVID-19, as well. "According to  NABPI, the 
            Federal Communications Commission in 2018 estimated 35 percent of Americans living on tribal lands across the country lacked access to broadband services, 
            compared with 8 percent of Americans overall" (1). This leads to many issues, such as Native American families being unable to actually take part in online learning,
            or Native American families struggling to reach out for health providers. 
          </p>
        </div>
      </div>

    </div>
  </div>
  
  <div style="opacity: 0%; transition-duration: 5s; transition-property: all;" id="part3">
    <h2 style="margin: 0; display: inline;">But how is this relationship, </h2>
    <h2 style="margin: 0; display: inline;" class="clickabletext" (click)="reveal('hiddenContext')">between Indigenous sovereignty and technology</h2>
    <h2 style="margin: 0; display: inline;">, contextualized?</h2>

    <div id="hiddenContext" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
            <p style="margin-left: 20%; margin-right: 20%;">
              The historical basis for this relationship stretches back to beginnings of European Colonization. As European settlements spread, Native Americans were seen 
              as lesser, and an oddity. As such, Indigenous people were pushed out of their homelands and onto tiny reservations, forced away from the rest of the world.
              Indigenous Americans were treated horribly, being abused, kidnapped, and used for experimentation (4). This treatment, while less common today, still affects
              all Indigenous people, as it has created a lasting generational trauma and set Indigenous Americans behind in education and access to technology. Even today, 
              many reservations lack internet access and access to computers. The stereotype, that Indigenous people are "prehistoric, precolonial, and pretechnological 
              subjects of a techno-scientific American empire" (3) still persists today.
            </p>
    </div>
  </div>
  
  <div style="opacity: 0%; transition-duration: 5s; transition-property: all;" id="part4">
    <h2 class="clickabletext" (click)="reveal('hiddenImportant')">So why is this topic important? What can we do?</h2>
    <div id="hiddenImportant" style="opacity: 0%; transition-duration: 1s; transition-property: all;">
      <p  style="margin-left: 20%; margin-right: 20%;">
        This topic is important because it is significantly impacts the daily life and future of Indigenous people. Indigenous people have dealt with injustices for a very long time,
        and the tech disparity between Indigenous communities and the rest of the world has caused these people to fall behind of the rest of the world. In a world where 
        technology is increasingly mandatory, groups that have dealt with abuse for so long need to be able to survive.
      </p>

      <p  style="margin-left: 20%; margin-right: 20%;">The best way to help is to provide outreach on social media. Bringing attention to injustices faced by Indigenous people will help spread the word. 
        Additionally, helping local Indigenous communities through volunteering or other methods is always beneficial.
      </p>
</div>
  </div>
  
  <p>Citations:</p>
  <ol style="margin-bottom: 10%;">
    <li>“Addressing Covid-19 Challenges in Tribal Communities.” UNM Newsroom, 24 June 2020, https://news.unm.edu/news/addressing-covid-19-challenges-in-tribal-communities. </li>
    <li>Erbentraut, Joseph. “Here's What You Need to Know about the Dakota Pipeline Protest.” HuffPost, HuffPost, 16 Jan. 2017, https://www.huffpost.com/entry/dakota-access-protests-facts-facebook_n_5818baece4b064e1b4b4e3cf. </li>
    <li>Duarte, Marisa Elena. Network Sovereignty Building the Internet across Indian Country. University of Washington, 2017.</li>
    <li>TEDX. Decolonization Is for Everyone. YouTube, 12 Mar. 2019, https://youtu.be/QP9x1NnCWNY. Accessed 12 July 2022. </li>
  </ol>


</div>

